.btn, .btn__modal {
	font-size: 1rem;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color: #007dc1;
	border-radius: 3px;
	border: 1px solid #124d77;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	padding: 12px 12px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;

	&--sm {
		margin-right: 1rem;
		font-size: 1rem;
		box-shadow: inset 0px 1px 0px 0px #54a3f7;
		background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
		background-color: #007dc1;
		border-radius: 3px;
		border: 1px solid #124d77;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		padding: .6rem;
		text-decoration: none;
		text-shadow: 0px 1px 0px #154682;

		&:hover {
			background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
			background-color: #0061a7;
		}
		  
		&:active {
			position: relative;
			top: 1px;
		}

	}

	&:hover {
		background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
		background-color: #0061a7;
	}
	  
	&:active {
		position: relative;
		top: 1px;
	}
}

.btn__delete, .btn__close {

	font-size: 1rem;
	box-shadow: inset 0px 1px 0px 0px #f754bb;
	background: linear-gradient(to bottom, #c1004a 5%, #a70056 100%);
	background-color: #ff1b67;
	border-radius: 5px;
	border: 1px solid #77123e;
	padding: 12px 12px;
	color: white;

	&:hover {
		background: linear-gradient(to bottom, #a70043 5%, #c10081 100%);
		background-color: #a70072;
	}
	  
	&:active {
		position: relative;
		top: 1px;
	}
}

.btn__close {
	font-size: 1rem;
	box-shadow: inset 0px 1px 0px 0px #f754bb;
	background: linear-gradient(to bottom, #c1004a 5%, #a70056 100%);
	background-color: #ff1b67;
	border-radius: 5px;
	border: 1px solid #77123e;
	padding: 12px 12px;
	color: white;

	&:hover {
		background: linear-gradient(to bottom, #a70043 5%, #c10081 100%);
		background-color: #a70072;
	}
	  
	&:active {
		position: relative;
		top: 1px;
	}
}

.btn__reset {
		
		font-size: 1rem;
		box-shadow: inset 0px 1px 0px 0px #ecf754;
		background: linear-gradient(to bottom, #c1b100 5%, #a7a400 100%);
		background-color: #ffe81b;
		border-radius: 5px;
		border: 1px solid #777212;
		padding: .6rem;
		color: white;

		&:hover {
			background: linear-gradient(to bottom, #a79f00 5%, #c1b400 100%);
			background-color: #a78e00;
		  }
		  
		&:active {
			position: relative;
			top: 1px;
		}
}

@media only screen and (max-width: 760px) {

	.btn, .btn__modal, .btn__delete, .btn__close {
		font-size: .8rem;
		padding: 5px;
	}
}